* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title {
    text-align: center;

}
.start {
    text-align: center;
    padding: 0 150px 100px 150px;

}
.btn {
    color: white;
    background-color: rebeccapurple;
    font-size: 18pt;
    padding: 10px 15px;
    border: 0;
    border: none;
    border-radius: 10px;
    margin: 20px 15px;
    outline: none;
}
.btn:hover {
    background-color:#DBAEF5;
    color: white;
}
.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.timer p {
    margin: 20px;
}
.scores {
    color: rebeccapurple;
}
.high-scores-title:hover {
    text-decoration: underline 2px solid #DBAEF5;
}
.scores ul {
    color: black;
    text-decoration: none;
    list-style: none;
}
.choice-options {
    display: flex;
    justify-content: center;
}
.answer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}
